<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="completionStrategyResolvers" name="Twig Completion Strategy Resolvers" schema="schema/completionStrategyResolvers.exsd"/>
   <extension-point id="completionContextResolvers" name="Twig Completion Context Resolvers" schema="schema/completionContextResolvers.exsd"/>
   <extension-point id="templateResolvers" name="Twig Template path resolvers" schema="schema/templateResolvers.exsd"/>

<!--
org.eclipse.php.core.PHPNature
com.dubture.twig.core.TwigNature
 -->

	<!-- the project nature -->
   <extension
         id="TwigNature"
         name="Twig"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dubture.twig.core.TwigNature">
         </run>
      </runtime>
      <content-type
            id="com.dubture.twig.core.twigtemplate">
      </content-type>
   </extension>
   
   <!--
   	org.eclipse.wst.html.core.htmlsource
   	org.eclipse.php.core.phpsource
   -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="twig"
            id="twigtemplate"
            name="Twig Template"
            priority="high">
         <describer
               class="org.eclipse.wst.html.core.internal.contenttype.ContentDescriberForHTML">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
     <modelHandler
            default="yes"
            class="com.dubture.twig.core.documentModel.handler.TwigModelHandler"
            associatedContentTypeId="com.dubture.twig.core.twigtemplate"
            id="com.dubture.twig.core.documentModel.handler">
      </modelHandler>
   </extension>
   <extension
         id="com.dubture.twig.core.documentfactories"
         name="Twig Document Creation Factory"
         point="org.eclipse.core.filebuffers.documentCreation">
      <factory
            class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory"
            contentTypeId="com.dubture.twig.core.twigtemplate">
      </factory>
   </extension>
   <extension
         point="com.dubture.indexing.core.buildParticipant">
      <participant
            file_extensions="twig"
            name="Twig Indexer"
            nature_id="com.dubture.twig.core.TwigNature"
            visitor="com.dubture.twig.core.index.IndexingVisitor">
      </participant>
   </extension>
   <extension
         point="com.dubture.twig.core.completionContextResolvers">
      <resolver
            class="com.dubture.twig.core.codeassist.TwigCompletionContextResolver">
      </resolver>
   </extension>
   <extension
         point="com.dubture.twig.core.completionStrategyResolvers">
      <resolver
            class="com.dubture.twig.core.codeassist.TwigCompletionStrategyFactory">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.php.core.phpIndexingVisitors">
      <visitor
            class="com.dubture.twig.core.index.TwigIndexingVisitorExtension">
      </visitor>
   </extension>
</plugin>
