.DS_Store
com.dubture.twig.core/bin/*
com.dubture.twig.ui/bin/*
com.dubture.twig.test/bin/*
com.dubture.twig.test/target/*
com.dubture.twig.core/Resources/parserTools/JFlex.jar
com.dubture.twig.core/target/*
com.dubture.twig.parser/target*
com.dubture.twig.ui/target/*
com.dubture.twig.core/Resources/parserTools/parser/output/*
com.dubture.twig.core.json/bin/*
com.dubture.twig.core.json/target/*
com.dubture.twig.feature/target/*
.project
.settings/
.classpath
