<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.twig.completion.provider" name="Twig Completion Provider" schema="schema/org.eclipse.twig.completion.provider.exsd"/>

	<!-- the TwigStructuredEditor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.twig.ui.editor.TwigStructuredEditor"
            contributorClass="org.eclipse.php.internal.ui.editor.ActionContributorForPhp"
            default="true"
            icon="ico/full/obj16/default_icon.gif"
            id="org.eclipse.twig.editor"
            name="%editor.name"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
         <contentTypeBinding
               contentTypeId="org.eclipse.twig.core.twigtemplate">
         </contentTypeBinding>
      </editor>
   </extension>
   
   
   <!-- SourceEditor configuration-->
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.twig.ui.editor.configuration.TwigStructuredTextViewerConfiguration"
			target="org.eclipse.twig.core.twigtemplate" />
			
		<contentOutlineConfiguration
			class="org.eclipse.php.internal.ui.outline.PHPContentOutlineConfiguration"
			target="org.eclipse.twig.core.twigtemplate" />
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="org.eclipse.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="sourceeditingtexttools"
			class="org.eclipse.wst.xml.ui.internal.provisional.XMLSourceEditingTextTools"
			target="org.eclipse.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.php.internal.ui.text.PHPDocumentRegionEdgeMatcher"
			target="org.eclipse.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.php.internal.ui.folding.PHPFoldingStructureProviderProxy"
			target="org.eclipse.twig.core.twigtemplate" />
		<provisionalDefinition
			type="spellingregions"
			value="XML_COMMENT_TEXT, PHP_CONTENT, XML_CONTENT"
			target="org.eclipse.twig.core.twigtemplate" />
   </extension>
   
   
   <!-- popup menus -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.twig.ui.contextmenu"
            objectClass="org.eclipse.dltk.core.IScriptProject">
         <menu
               id="org.eclipse.twig.ui.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.twig.ui.popup.actions.AddRemoveTwigNatureAction"
               enablesFor="1"
               id="org.eclipse.twig.ui.toggleNatureAction"
               label="%action.label"
               menubarPath="org.eclipse.twig.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   
   <!-- preference pages -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.twig.ui.preferences.TwigBasePreferencePage"
            id="org.eclipse.twig.ui.preferences.TwigBasePreferencePage"
            name="%twigPageName">
      </page>
      <page
            category="org.eclipse.twig.ui.preferences.TwigBasePreferencePage"
            class="org.eclipse.twig.ui.preferences.TwigEditorPreferencePage"
            id="org.eclipse.twig.ui.preferences.TwigEditorPreferencePage"
            name="%twigEditorPageName">
      </page>
      <page
            category="org.eclipse.twig.ui.preferences.TwigEditorPreferencePage"
            class="org.eclipse.twig.ui.preferences.TwigTemplatePreferencePage"
            id="org.eclipse.twig.ui.preferences.TwigTemplatesPreferencePage"
            name="%templatesPreferencePageName">
      </page>
      <page
            category="org.eclipse.twig.ui.preferences.TwigEditorPreferencePage"
            class="org.eclipse.twig.ui.preferences.TwigCodeassistPreferencePage"
            id="org.eclipse.twig.ui.preferences.TwigCodeassistPreferencePage"
            name="%codeassistPreferencePageName">
      </page>
      <page
            category="org.eclipse.twig.ui.preferences.TwigEditorPreferencePage"
            class="org.eclipse.twig.ui.TwigSyntaxColoringPage"
            id="org.eclipse.twig.ui.preferences.TwigSyntaxcolorPreferencePage"
            name="%syntaxColorPreferencePageName">
      </page>
   </extension>
   
   <!-- CompletionEngine - not used yet -->
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.eclipse.twig.ui.editor.completion.TwigCompletionEngine"
            nature="org.eclipse.php.core.PHPNature"
            priority="100">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.twig.ui.preferences.TwigPreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- ProposalComputer for CodeAssist and Templates -->
   <extension
         id="TwigCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="org.eclipse.twig.ui.editor.contentassist.TwigCompletionProposalComputer"
            toolkitId="org.eclipse.php.core.PHPNature">
         <partition
               type="org.eclipse.twig.TWIG_DEFAULT">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   

   <!-- Add support for twig eclipse templates --> 
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.twig.ui.editor.templates.TwigTemplateContextType"
            id="twig"
            name="Twig template">
      </contextType>
      <include
            file="templates/twigdefault-templates.xml"
            translations="templates/twigdefault-templates.properties">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.twig.ui"
            name="Twig">
      </category>
      <wizard
            category="org.eclipse.twig.ui"
            class="org.eclipse.twig.ui.wizards.NewTemplateWizard"
            icon="ico/full/obj16/default_icon.gif"
            id="org.eclipse.twig.ui.wizards.NewTemplateWizard"
            name="Twig template">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <newWizardShortcut
               id="org.eclipse.twig.ui.wizards.NewTemplateWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
