<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="com.dubture.twig.ui.TwigUILanguageToolkit"
            nature="com.dubture.twig.core.TwigNature"
            priority="10">
      </language>
   </extension>

	<!-- the TwigStructuredEditor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dubture.twig.ui.editor.TwigStructuredEditor"
            contributorClass="com.dubture.twig.ui.editor.ActionContributorForTwig"
            default="true"
            icon="ico/full/obj16/default_icon.gif"
            id="com.dubture.twig.editor"
            name="%editor.name"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
         <contentTypeBinding
               contentTypeId="com.dubture.twig.core.twigtemplate">
         </contentTypeBinding>
      </editor>
   </extension>
   
   
   <!-- SourceEditor configuration-->
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="com.dubture.twig.ui.editor.configuration.TwigStructuredTextViewerConfiguration"
			target="com.dubture.twig.core.twigtemplate" />
			
		<contentOutlineConfiguration
			class="com.dubture.twig.ui.outline.TwigContentOutlineConfiguration"
			target="com.dubture.twig.core.twigtemplate" />
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="sourceeditingtexttools"
			class="org.eclipse.wst.xml.ui.internal.provisional.XMLSourceEditingTextTools"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.php.internal.ui.text.PHPDocumentRegionEdgeMatcher"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.php.internal.ui.folding.PHPFoldingStructureProviderProxy"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalDefinition
			type="spellingregions"
			value="XML_COMMENT_TEXT, PHP_CONTENT, TWIG_CONTENT, XML_CONTENT"
			target="com.dubture.twig.core.twigtemplate" />
   </extension>
   
   
   <!-- popup menus -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.dubture.twig.ui.contextmenu"
            objectClass="org.eclipse.dltk.core.IScriptProject">
         <menu
               id="com.dubture.twig.ui.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.dubture.twig.ui.popup.actions.AddRemoveTwigNatureAction"
               enablesFor="1"
               id="com.dubture.twig.ui.toggleNatureAction"
               label="%action.label"
               menubarPath="com.dubture.twig.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   
   <!-- preference pages -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.dubture.twig.ui.preferences.TwigBasePreferencePage"
            id="com.dubture.twig.ui.preferences.TwigBasePreferencePage"
            name="%twigPageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigBasePreferencePage"
            class="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            id="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            name="%twigEditorPageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            class="com.dubture.twig.ui.preferences.TwigTemplatePreferencePage"
            id="com.dubture.twig.ui.preferences.TwigTemplatesPreferencePage"
            name="%templatesPreferencePageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            class="com.dubture.twig.ui.preferences.TwigCodeassistPreferencePage"
            id="com.dubture.twig.ui.preferences.TwigCodeassistPreferencePage"
            name="%codeassistPreferencePageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            class="com.dubture.twig.ui.preferences.TwigSyntaxColoringPage"
            id="com.dubture.twig.ui.preferences.TwigSyntaxcolorPreferencePage"
            name="%page.name">
      </page>
   </extension>
   
   <!-- CompletionEngine -->
   
   <!-- org.eclipse.php.core.PHPNature  |  com.dubture.twig.core.TwigNature -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dubture.twig.ui.preferences.TwigPreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- ProposalComputer for CodeAssist and Templates -->
   <extension
         id="TwigCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="com.dubture.twig.ui.editor.contentassist.TwigCompletionProposalComputer"
            toolkitId="org.eclipse.php.core.PHPNature">
         <partition
               type="com.dubture.twig.TWIG_DEFAULT">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   

   <!-- Add support for twig eclipse templates --> 
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.dubture.twig.ui.editor.templates.TwigTemplateContextType"
            id="twig"
            name="%contextType.name.0">
      </contextType>
      <include
            file="templates/twigdefault-templates.xml"
            translations="templates/twigdefault-templates.properties">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.dubture.twig.ui"
            name="%category.name">
      </category>
      <wizard
            category="com.dubture.twig.ui"
            class="com.dubture.twig.ui.wizards.NewTemplateWizard"
            icon="ico/full/obj16/default_icon.gif"
            id="com.dubture.twig.ui.wizards.NewTemplateWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <newWizardShortcut
               id="com.dubture.twig.ui.wizards.NewTemplateWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.php.ui.foldingStructureProviders">
      <provider
            class="com.dubture.twig.ui.editor.folding.StructuredTextFoldingProviderTwig"
            id="com.dubture.twig.ui.foldingProvider"
            name="Twig Code Folding"
            preferencesClass="org.eclipse.php.internal.ui.folding.DefaultPHPFoldingPreferenceBlock">
      </provider>
   </extension>
   

</plugin>
