<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="com.dubture.twig.ui.TwigUILanguageToolkit"
            nature="com.dubture.twig.core.TwigNature"
            priority="10">
      </language>
   </extension>
   
   

	<!-- the TwigStructuredEditor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dubture.twig.ui.editor.TwigStructuredEditor"
            contributorClass="com.dubture.twig.ui.editor.ActionContributorForTwig"
            default="true"
            icon="ico/full/obj16/default_icon.gif"
            id="com.dubture.twig.editor"
            name="%editor.name"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
         <contentTypeBinding
               contentTypeId="com.dubture.twig.core.twigtemplate">
         </contentTypeBinding>
      </editor>
   </extension>
   
   
   <!-- SourceEditor configuration-->
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="com.dubture.twig.ui.editor.configuration.TwigStructuredTextViewerConfiguration"
			target="com.dubture.twig.core.twigtemplate" />
			
		<contentOutlineConfiguration
			class="com.dubture.twig.ui.outline.TwigContentOutlineConfiguration"
			target="com.dubture.twig.core.twigtemplate" />
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="sourceeditingtexttools"
			class="org.eclipse.wst.xml.ui.internal.provisional.XMLSourceEditingTextTools"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.php.internal.ui.text.PHPDocumentRegionEdgeMatcher"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.php.internal.ui.folding.PHPFoldingStructureProviderProxy"
			target="com.dubture.twig.core.twigtemplate" />
		<provisionalDefinition
			type="spellingregions"
			value="XML_COMMENT_TEXT, PHP_CONTENT, TWIG_CONTENT, XML_CONTENT"
			target="com.dubture.twig.core.twigtemplate" />
			
		<provisionalDefinition type="activecontexts"
			value="com.dubture.twig.core.twigtemplate" target="com.dubture.twig.core.twigtemplate" />
			
   </extension>
   
   
   <!-- popup menus -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.dubture.twig.ui.contextmenu"
            objectClass="org.eclipse.dltk.core.IScriptProject">
         <menu
               id="com.dubture.twig.ui.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.dubture.twig.ui.popup.actions.AddRemoveTwigNatureAction"
               enablesFor="1"
               id="com.dubture.twig.ui.toggleNatureAction"
               label="%action.label"
               menubarPath="com.dubture.twig.ui.menu1/group1">
         </action>
      </objectContribution>
      
		<objectContribution objectClass="org.eclipse.dltk.core.IModelElement"
			id="com.dubture.twig.ui.modelElementContribution">
			<menu label="%category.source.name" path="additions" id="source" />
			<action label="Surround With"
				class="com.dubture.twig.ui.actions.SurroundWithAction"
				menubarPath="source/surroundWithGroup" id="com.dubture.twig.ui.actions.SurroundWithAction">
			</action>
			<visibility>
				<or>
					<objectClass name="org.eclipse.dltk.core.ISourceModule" />
					<objectClass name="org.eclipse.dltk.core.IMember" />
				</or>
			</visibility>
		</objectContribution>
      
   </extension>
   
   <!-- preference pages -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.dubture.twig.ui.preferences.TwigBasePreferencePage"
            id="com.dubture.twig.ui.preferences.TwigBasePreferencePage"
            name="%twigPageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigBasePreferencePage"
            class="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            id="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            name="%twigEditorPageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            class="com.dubture.twig.ui.preferences.TwigTemplatePreferencePage"
            id="com.dubture.twig.ui.preferences.TwigTemplatesPreferencePage"
            name="%templatesPreferencePageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            class="com.dubture.twig.ui.preferences.TwigCodeassistPreferencePage"
            id="com.dubture.twig.ui.preferences.TwigCodeassistPreferencePage"
            name="%codeassistPreferencePageName">
      </page>
      <page
            category="com.dubture.twig.ui.preferences.TwigEditorPreferencePage"
            class="com.dubture.twig.ui.preferences.TwigSyntaxColoringPage"
            id="com.dubture.twig.ui.preferences.TwigSyntaxcolorPreferencePage"
            name="%page.name">
      </page>
   </extension>
   
   <!-- CompletionEngine -->
   
   <!-- org.eclipse.php.core.PHPNature  |  com.dubture.twig.core.TwigNature -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dubture.twig.ui.preferences.TwigPreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- ProposalComputer for CodeAssist and Templates -->
   <extension
         id="TwigCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="com.dubture.twig.ui.editor.contentassist.TwigCompletionProposalComputer"
            toolkitId="org.eclipse.php.core.PHPNature">
         <partition
               type="com.dubture.twig.TWIG_DEFAULT">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   
	<extension point="org.eclipse.ui.menus">
	
		<menuContribution locationURI="menu:sourceMenuId?before=sourceBegin">
			<command commandId="com.dubture.twig.ui.surround.with"
				id="SurroundWith" mnemonic="%command.mnemonic" style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.dubture.ui.twigContentType.definition" />
				</visibleWhen>
			</command>
		</menuContribution>

		<menuContribution locationURI="popup:sourcePopupMenuId?before=sourceBegin">
			<command commandId="com.dubture.twig.ui.surround.with"
				id="SurroundWith" style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.dubture.ui.twigContentType.definition"></reference>
				</visibleWhen>
			</command>
		</menuContribution>
	
		  <menuContribution locationURI="menu:sourceMenuId?after=sourceBegin">
			<command commandId="org.eclipse.wst.sse.ui.toggle.comment"
			         id="ToggleComment"
			         mnemonic="%command.toggle.comment.mnemonic"
			         style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.dubture.ui.twigContentType.definition"/>
				</visibleWhen>
			</command>
		</menuContribution>
		
		<menuContribution
	           locationURI="popup:sourcePopupMenuId?after=sourceBegin">
				<command commandId="org.eclipse.wst.sse.ui.toggle.comment" id="ToggleComment" style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="com.dubture.ui.twigContentType.definition"></reference>
					</visibleWhen>
				</command>
				<separator name="format" visible="true"></separator>
		</menuContribution>		
	
	</extension>   
   

   <!-- Add support for twig eclipse templates --> 
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.dubture.twig.ui.editor.templates.TwigTemplateContextType"
            id="twig"
            name="%contextType.name.0">
      </contextType>
      <include
            file="templates/twigdefault-templates.xml"
            translations="templates/twigdefault-templates.properties">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.dubture.twig.ui"
            name="%category.name">
      </category>
      <wizard
            category="com.dubture.twig.ui"
            class="com.dubture.twig.ui.wizards.NewTemplateWizard"
            icon="ico/full/obj16/default_icon.gif"
            id="com.dubture.twig.ui.wizards.NewTemplateWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <newWizardShortcut
               id="com.dubture.twig.ui.wizards.NewTemplateWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.php.ui.foldingStructureProviders">
      <provider
            class="com.dubture.twig.ui.editor.folding.StructuredTextFoldingProviderTwig"
            id="com.dubture.twig.ui.foldingProvider"
            name="Twig Code Folding"
            preferencesClass="org.eclipse.php.internal.ui.folding.DefaultPHPFoldingPreferenceBlock">
      </provider>
   </extension>
   
	<extension point="org.eclipse.ui.contexts">
		<context name="%context.editingTwigSource.name" description="%context.editingTwigSource.description"
			parentId="org.eclipse.php.ui.phpEditorScope" id="com.dubture.ui.phpEditorScope" />
		<context name="%context.editingPhpSource.name"
			parentId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			description="%context.editingTwigSource.description" id="com.dubture.twig.core.twigtemplate">
		</context>
		<context name="%context.window.name" description="%context.window.description"
			parentId="org.eclipse.ui.contexts.window" id="com.dubture.twig.ui.contexts.window" />
	</extension>
   
   
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.dubture.ui.twigContentType.definition">
			<with variable="activeContexts">
				<iterate operator="or">
					<equals value="com.dubture.twig.core.twigtemplate" />
				</iterate>
			</with>
		</definition>
	</extension>
	
	<!--Commands:-->
	<extension point="org.eclipse.ui.commands">

		<!-- source -->
		<command name="%action.surroundWith.name" description="%action.surroundWith.description"
			categoryId="org.eclipse.ui.category.edit" id="com.dubture.twig.ui.surround.with" />

	</extension>	
   
	<extension point="org.eclipse.ui.handlers">
	
		<handler class="com.dubture.twig.ui.actions.SurroundWithHandler"
			commandId="com.dubture.twig.ui.surround.with">
			<activeWhen>
				<reference definitionId="com.dubture.ui.twigContentType.definition" />
			</activeWhen>
			<enabledWhen>
				<reference definitionId="com.dubture.ui.twigContentType.definition" />
			</enabledWhen>
		</handler>
	
		<!-- overriding PHP's Handlers with the same 'commandId' -->
		<handler class="com.dubture.twig.ui.actions.TwigToggleLineCommentHandler"
			commandId="org.eclipse.wst.sse.ui.toggle.comment">
			<activeWhen>
			<or>
				<reference definitionId="com.dubture.ui.twigContentType.definition" />
			   <with variable="activePartId">
			    <equals value="com.dubture.twig.editor"/>
			   </with>
				<with variable="activeEditorId">
					<iterate operator="or">
						<equals value="com.dubture.twig.editor"/>
					</iterate>
				</with>			   
			</or>
				
			</activeWhen>
			<enabledWhen>
				<reference definitionId="com.dubture.ui.twigContentType.definition" />
			</enabledWhen>
		</handler>
	</extension>
   

</plugin>
